extends layout

block content
	h1= title
	p Welcome to #{title}
	br
	form( action="galleta", method="POST")
		input( type="text", name="cook", id="cook" )
		br
		input( type="submit", value="Moasda" )
